In [79]:
import pandas as pd
import openpyxl

In [70]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [16]:
train =pd.read_csv(r"C:\Users\HP\Downloads\train.csv",index_col = None)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
train.shape
train.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [81]:
train.corr()

C:\Users\HP\AppData\Local\Temp\ipykernel_9576\2189804198.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [71]:
#c=train.columns.values.tolist()
missing = train.isnull()
c=missing.columns.values.tolist()
missing.head()
for col in c:
     print(col)
     print(missing[col].value_counts()) 
    
#missing.Pclass.value_counts()

PassengerId
False    891
Name: PassengerId, dtype: int64
Survived
False    891
Name: Survived, dtype: int64
Pclass
False    891
Name: Pclass, dtype: int64
Name
False    891
Name: Name, dtype: int64
Sex
False    891
Name: Sex, dtype: int64
Age
False    714
True     177
Name: Age, dtype: int64
SibSp
False    891
Name: SibSp, dtype: int64
Parch
False    891
Name: Parch, dtype: int64
Ticket
False    891
Name: Ticket, dtype: int64
Fare
False    891
Name: Fare, dtype: int64
Cabin
True     687
False    204
Name: Cabin, dtype: int64
Embarked
False    889
True       2
Name: Embarked, dtype: int64

In [78]:
train.notnull().sum().to_frame("Counts")

             Counts
PassengerId     891
Survived        891
Pclass          891
Name            891
Sex             891
Age             714
SibSp           891
Parch           891
Ticket          891
Fare            891
Cabin           204
Embarked        889

In [43]:
#c=train.columns.values.tolist()
c=train.columns
c

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
feature_cols = ['Pclass','Parch']

In [86]:
X=train.loc[:,feature_cols]

In [85]:
y =train.Survived
y.shape
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [93]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X,y)

LogisticRegression()

In [88]:
test = pd.read_csv(r"C:\Users\HP\Downloads\test.csv")

In [89]:
X_new = test.loc[:,feature_cols]
X_new.head()

   Pclass  Parch
0       3      0
1       3      0
2       2      0
3       3      0
4       3      1

In [90]:
new_pred_class = logreg.predict(X_new)

In [92]:
pd.DataFrame({'PassengerID':test.PassengerId,'Survived':new_pred_class}).set_index('PassengerID').to_csv(r"C:\Users\HP\Desktop\Test2.csv")